// app global css in SCSS form
:root {
  --q-text-muted: #{$text-muted};
  --q-bg-muted: #{$bg-muted};
  --q-link-color: var(--bdb-primary-500);
  --q-link-color-hover: var(--bdb-accent-500);
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/montserrat.woff2) format('woff2');
}

.text-muted {
  color: var(--q-text-muted);
}

.bg-muted {
  background-color: var(--q-bg-muted);
}

.bg-shade {
  background-color: var(--q-shade);
}

@each $type in primary secondary accent {
  @for $i from 1 through 9 {
    .text-#{$type}-#{$i}00 {
      color: var(--bdb-#{$type}-#{$i}00);
    }
    .bg-#{$type}-#{$i}00 {
      background-color: var(--bdb-#{$type}-#{$i}00);
    }
  }
}

.align-center {
  align-items: center;
}

h1,
.text-h1,
h2,
.text-h2,
h3,
.text-h3,
h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6,
.text-subtitle1,
.text-subtitle2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  size: map-get($map: $body1, $key: 'size');
  line-height: map-get($map: $body1, $key: 'line-height');
  letter-spacing: map-get($map: $body1, $key: 'letter-spacing');
  font-weight: map-get($map: $body1, $key: 'weight');
}

a {
  color: var(--q-link-color);

  &:hover {
    color: var(--q-link-color-hover);
  }
}

.undecorated-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
